.constellation-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  z-index: 2;
  pointer-events: auto;
}

/* This class is added dynamically through JS */
.constellation-navigation.hovering {
  cursor: pointer;
}